<div class="container mt-5">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h1><%= @restaurant.name %></h1>
    <p><%= @restaurant.address %></p>
    <p><%= @restaurant.phone_number %></p>
    <p><%= @restaurant.category %></p>
  </div>
    <%= link_to "retour à la liste", restaurants_path, class: "btn btn-primary" %>

    <%= link_to "notez ce restaurant", new_restaurant_review_path(@restaurant), class: "btn btn-primary" %>

</div>
